name: Build

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    branches:
      - main
  # schedule:
  #   - cron: '0 4 * * *' # Runs every day at 4am: https://docs.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule

jobs:

  build:
    name: ${{ matrix.os }}, Node.js v${{ matrix.node }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        node: ['20.x']

    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # To fetch all history for all branches and tags. (Will be required for caching with lerna: https://github.com/markuplint/markuplint/pull/111)

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'
      
      - name: Use Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install
        shell: bash
        run: |
          yarn install --frozen-lockfile --skip-integrity-check --network-timeout 100000
        env:
          NODE_RUNTIME_SKIP_DOWNLOAD: 1
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Build
        shell: bash
        run: |
          yarn build
    
      - name: Lint
        shell: bash
        run: |
          yarn lint
          
      - name: Test
        if: matrix.tests != 'skip'
        shell: bash
        run: |
          yarn test
  
  publish:
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name != 'schedule' # We still publish the manually dispatched workflows: 'workflow_dispatch'.
    runs-on: ubuntu-latest

    # The current approach is silly. We should be smarter and use `actions/upload-artifact` and `actions/download-artifact` instead of rebuilding
    # everything from scratch again. (git checkout, Node.js install, yarn, etc.) It was not possible to share artifacts on Travis CI without an
    # external storage (such as S3), so we did rebuild everything before the npm publish. We should overcome this limitation with GH Actions.

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # To fetch all history for all branches and tags. (Will be required for caching with lerna: https://github.com/markuplint/markuplint/pull/111)

      - name: Use Node.js 20.x
        uses: actions/setup-node@v1
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Use Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Pre-Publish
        run: |
          yarn --skip-integrity-check --network-timeout 100000
          yarn docs
        env:
          NODE_OPTIONS: --max_old_space_size=4096

      # - name: Publish NPM
      #   run: |
      #     yarn run publish
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }} # The variable name comes from here: https://github.com/actions/setup-node/blob/70b9252472eee7495c93bb1588261539c3c2b98d/src/authutil.ts#L48

      - name: Publish GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./gh-pages
